[Unit]
Description=Clear psplash Bootlogo
After=multi-user.target


[Service]
Type=oneshot
ExecStart=/usr/bin/bootlogo-clear.sh

[Install]
WantedBy=multi-user.target
