
[Unit]
Description=MCTP Reactor - Discovery and Endpoint Management
Conflicts=reboot.target shutdown.target
After=mctpd.service xyz.openbmc_project.EntityManager.service
Requires=mctpd.service
Before=shutdown.target

[Service]
Type=simple
ExecStart=/usr/sbin/mctpreactor
Restart=on-failure
RestartSec=5s
TimeoutStopSec=10s
KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
