[Unit]
Description=Phosphor-ipmi-flash Prepare BMC to receive update

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/sh -c 'echo 3 > /proc/sys/vm/drop_caches'
