[Unit]
Description=AMI sync overlay to NV storage

[Service]
# Run a job to periodically sync the overlay to NV storage
ExecStart=/usr/bin/ami-syncd
# Due to sync delay stopping this service will take more than default 10 seconds
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
