[Unit]
Description=Get System Guid
Requires=xyz.openbmc_project.Settings.service
After=xyz.openbmc_project.Settings.service

[Service]
Type=oneshot
ExecStart=/usr/bin/system-guid.sh

[Install]
WantedBy=multi-user.target
