[Unit]
Description=Phosphor PLDM Daemon
Wants=xyz.openbmc_project.biosconfig_manager.service
After=xyz.openbmc_project.biosconfig_manager.service
BindsTo=mctp-pcie-ctrl.service
After=mctp-pcie-ctrl.service
PartOf=mctp-pcie-ctrl.service

[Service]
Restart=always
RestartSec=15
StartLimitInterval=0
StartLimitBurst=0
Type=dbus
#WatchdogSec=60
BusName=xyz.openbmc_project.pldm
#EnvironmentFile=/etc/default/pldm_verbosity
ExecStartPre=/bin/bash -c 'if [ `systemctl is-active mctp-pcie-ctrl` == "active" ]; then exit 0; else exit 1; fi'
ExecStartPre=/bin/bash -c 'until busctl tree xyz.openbmc_project.MCTP.Control.PCIe | grep -q "/xyz/openbmc_project/mctp/PCIe"; do sleep 1; done'
ExecStart=/usr/bin/pldmd 

[Install]
WantedBy=multi-user.target
