[Unit]
Description=Pendtask daemon implementing PEF retry alert interface
After=pef-event-filtering.service
[Service]
ExecStart=/usr/bin/pendtask
Restart=always
RestartSec=5
Type=dbus
BusName=xyz.openbmc_project.Pendtask

[Install]
WantedBy=multi-user.target
