[Unit]
Description=Network IPMI socket
ExecStartPre=/bin/sh -c '[ -f /sys/class/net/bond0/carrier ] && [ "$(cat /sys/class/net/bond0/carrier)" = "1" ]'

[Socket]
ListenDatagram=623
BindToDevice=bond0

[Install]
WantedBy=
RequiredBy=
