[Unit]
Description=Network IPMI daemon
After=phosphor-ipmi-host.service
Wants=network-online.target
After=network-online.target
PartOf=phosphor-ipmi-warm-reset.target

[Service]
ExecStartPre=/bin/sh -c '[ -f /sys/class/net/bond0/carrier ] && [ "$(cat /sys/class/net/bond0/carrier)" = "1" ]'
ExecStart=/usr/bin/netipmid -c bond0
SyslogIdentifier=netipmid-bond0
Restart=always
RuntimeDirectory = ipmi
RuntimeDirectoryPreserve = yes
StateDirectory = ipmi
StartLimitIntervalSec=0

[Install]
WantedBy=
RequiredBy=
