[Unit]
Description=Extlog Configuration service
StartLimitBurst=5
StartLimitInterval=5min
StartLimitAction=reboot

[Service]
ExecStart=/usr/bin/env extlogconfigs
SyslogIdentifier=extlog-configs
Restart=always
RestartSec=5
Type=dbus
BusName=xyz.openbmc_project.Extlog

[Install]
WantedBy=multi-user.target
