[Unit]
Description=Host interface service
ConditionPathIsMountPoint=/sys/kernel/config
After=phosphor-ipmi-host.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/create_usbeth.sh connect
KillMode=process

[Install]
WantedBy=multi-user.target
