[Unit]
Description=Host interface service for node 1
ConditionPathIsMountPoint=/sys/kernel/config
After=phosphor-ipmi-host.service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10

# Check configuration mode before starting
ExecCondition=/bin/bash -c '\
    MULTI_HOST_CONFIG_DIR="/var/lib/multi-host-config"; \
    MULTI_HOST_CURRENT_MODE_FILE="current-mode"; \
    if [[ -f "$MULTI_HOST_CONFIG_DIR/$MULTI_HOST_CURRENT_MODE_FILE" ]]; then \
        current_mode=$(cat "$MULTI_HOST_CONFIG_DIR/$MULTI_HOST_CURRENT_MODE_FILE"); \
        [[ "$current_mode" == "1" ]]; \
    else \
        exit 1; \
    fi'

ExecStart=/usr/bin/create_usbeth1.sh connect
ExecStartPost=/bin/sh -c '\
  systemctl start phosphor-ipmi-net@hostusb1.socket && \
  systemctl start phosphor-ipmi-net@hostusb1.service'
KillMode=process

[Install]
WantedBy=multi-user.target
