[Unit]
Description=Host interface service
ConditionPathIsMountPoint=/sys/kernel/config
After=phosphor-ipmi-host.service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/create_usbeth.sh connect
ExecStartPost=/bin/sh -c '\
  systemctl start phosphor-ipmi-net@hostusb0.socket && \
  systemctl start phosphor-ipmi-net@hostusb0.service'
KillMode=process

[Install]
WantedBy=multi-user.target
