[Unit]
Description=ApplyTime update script 
After=multi-user.target

[Service]
ExecStart=/usr/bin/applyonreset.sh start
ExecStop=/usr/bin/applyonreset.sh stop
Type=oneshot
RemainAfterExit=true
StandardOutput=tty
StandardError=tty
TimeoutStopSec=1800

[Install]
WantedBy=multi-user.target