[Unit]
Description=Setting hostname with mac addr

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/bin/hostname-setting

[Install]
WantedBy=network.target

