[Unit]
Description=ASPEED polling GPIO value and update to DBus
Wants=mapper-wait@-xyz-openbmc_project-inventory-system-chassis-host0.service
After=mapper-wait@-xyz-openbmc_project-inventory-system-chassis-host0.service

[Service]
ExecStart=power-status-sync.sh
SyslogIdentifier=power-status-sync
Restart=always

[Install]
WantedBy=multi-user.target