[Unit]
Description=SNMP Agent service
After=snmpd.service
Wants=snmpd.service
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/env snmp-agent
SyslogIdentifier=snmp-agent
Restart=always
RestartSec=5
Type=dbus
BusName=xyz.openbmc_project.Snmp.Conf

[Install]
WantedBy=multi-user.target
