[Unit]
Description=SNMP Agent service
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/env snmp-agent
SyslogIdentifier=snmp-agent
Restart=always
RestartSec=5
Type=dbus
BusName=xyz.openbmc_project.Snmp

[Install]
WantedBy=multi-user.target
