[Unit]
Description=Start Host

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/env poweron.sh
SyslogIdentifier=poweron.sh

[Install]
WantedBy=multi-user.target
