[Unit]
Description=Stop Host

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/env poweroff.sh
SyslogIdentifier=poweroff.sh

[Install]
WantedBy=multi-user.target
