[Unit]
Description=NXP force reset host%i
Wants=phosphor-reboot-host@%i.service
Conflicts=obmc-chassis-poweroff@%i.target
OnFailure=obmc-chassis-powerreset@%i.target

[Service]
RemainAfterExit=no
Type=oneshot
ExecStart=/bin/sh -c "sleep 3 && /usr/bin/env host_reboot.sh"
SyslogIdentifier=host_reboot.sh

[Install]
WantedBy=obmc-host-force-warm-reboot@%i.target