[Unit]
Description=Monitor the status of the services
 
[Service]
Type=oneshot
ExecStart=/usr/bin/bmc-services-ready.sh
StandardOutput=journal+console
 
[Install]
WantedBy=multi-user.target
