[Unit]
Description=Platform Init 
After=local-fs.target sysinit.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/platforminit

[Install]
WantedBy=multi-user.target
