# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "16"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Mask conflicting/circular dependency recipes
BBMASK = "/meta-intel-openbmc/meta-common/recipes-phosphor/ipmi/phosphor-ipmi-ipmb"
BBMASK += "/meta-core/meta-common/recipes-intel/images/intel-platforms.bb"
BBMASK += "/meta-core/meta-egs/recipes-intel/images/intel-platforms.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-ami/images/intel-platforms.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-network/network/static-mac-addr.bbappend"
BBMASK += "/meta-phosphor/recipes-phosphor/leds/phosphor-led-manager-config-example-native"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-perl \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-aspeed \
  ##OEROOT##/meta-facebook \
  ##OEROOT##/meta-facebook/meta-tiogapass \
  ##OEROOT##/meta-ami \
  ##OEROOT##/meta-ami/meta-tiogapass \
  ##OEROOT##/meta-core \
  ##OEROOT##/meta-core/meta-common \
  ##OEROOT##/meta-intel-openbmc \
  ##OEROOT##/meta-security \
  "
