[Unit]
Description=Backup Restore service
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/env backuprestore
SyslogIdentifier=backuprestore
Restart=always
RestartSec=5
Type=dbus
BusName=xyz.openbmc_project.Backup

[Install]
WantedBy=multi-user.target
