MACHINE ??= "evb-imx95"
DISTRO ?= "openbmc-phosphor"
PACKAGE_CLASSES ?= "package_ipk"
SANITY_TESTED_DISTROS:append ?= " *"
EXTRA_IMAGE_FEATURES ?= "allow-root-login"
IMAGE_FEATURES:remove = "debug-tweaks"
IMAGE_INSTALL:append = " net-tools curl lmsensors phosphor-hwmon openipmi ipmitool dbus-sensors socat git entity-manager"
IMX_MIRROR ?= "https://www.nxp.com/lgfiles/NMG/MAD/YOCTO/"

# FIXME: set this to avoid changing all the recipes that use it
FSL_MIRROR ?= "${IMX_MIRROR}"

MIRRORS += " \
${IMX_MIRROR}   http://download.ossystems.com.br/bsp/freescale/source/ \n \
"
ACCEPT_FSL_EULA = "1"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"
CONF_VERSION = "2"
BB_FETCH_PREMIRRORONLY = "0"
ERROR_QA:remove = " patch-status"
WARN_QA:append = " patch-status"
# Mask meta-ami/meta-common bbappend files that target ASPEED/Intel-specific
# recipes not present in the IMX95 build layer configuration.
BBMASK += " \
    meta-ami/meta-common/recipes-ami/images/intel-platforms.bbappend \
    meta-ami/meta-common/recipes-ami/mctp-wrapper/mctp-wrapper.bbappend \
    meta-ami/meta-common/recipes-ami/nv-sync/nv-sync_git.bbappend \
    meta-ami/meta-common/recipes-ami/psu-manager/psu-manager.bbappend \
    meta-ami/meta-common/recipes-ami/spdm/libspdm.bbappend \
    meta-ami/meta-common/recipes-bsp/u-boot/u-boot-aspeed-sdk_ \
    meta-ami/meta-common/recipes-bsp/u-boot/u-boot-fw-utils-aspeed-sdk_ \
    meta-ami/meta-common/recipes-core/host-error-monitor/host-error-monitor_ \
    meta-ami/meta-common/recipes-core/hsbp/hsbp-manager_git.bbappend \
    meta-ami/meta-common/recipes-network/network/static-mac-addr.bbappend \
    meta-ami/meta-common/recipes-phosphor/ipmi/intel-ipmi-oem_ \
    meta-ami/meta-common/recipes-phosphor/ipmi/phosphor-node-manager-proxy_ \
    meta-ami/meta-common/recipes-phosphor/pmci/libpldm-intel_ \
    meta-ami/meta-common/recipes-phosphor/pmci/mctpd.bbappend \
    meta-ami/meta-common/recipes-phosphor/pmci/pldmd.bbappend \
    meta-ami/meta-common/recipes-phosphor/prov-mode-mgr/prov-mode-mgr_ \
    meta-ami/meta-common/recipes-phosphor/setting/settings_ \
    meta-ami/meta-common/recipes-phosphor/virtual-media/virtual-media.bbappend \
    meta-ami/meta-common/recipes-security/google-authenticator-libpam/google-authenticator-libpam_ \
    meta-ami/meta-common/recipes-kernel/linux/linux-onetree \
    "

# Limit bmcweb parallel compilation to avoid OOM kills (redfish.cpp is very large)
PARALLEL_MAKE:pn-bmcweb = "-j 2"
