[Unit]
Description=ASPEED transfer BIOS post code to LED value
Wants=mapper-wait@-xyz-openbmc_project-state-boot-raw0.service
After=mapper-wait@-xyz-openbmc_project-state-boot-raw0.service

[Service]
ExecStart=/usr/sbin/set-post-code-led.sh
SyslogIdentifier=set-post-code-led
Restart=always

[Install]
WantedBy=multi-user.target
