[Unit]
Description= To check for gpio presence
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/gpio-presence


[Install]
WantedBy=multi-user.target

