[Unit]
Description=LPC Snoop Daemon for Host %i
After=mapper-wait@-xyz-openbmc_project-State-Boot-Raw%i.service

[Service]
Restart=always
ExecStart=/bin/sh -c 'exec /usr/bin/snoopd -d /dev/aspeed-lpc-pcc$((%i - 1)) -i %i'
SyslogIdentifier=snoopd%i

[Install]
WantedBy=multi-user.target

