[Unit]
Description=Enable Linux trace events in the boot loader
RequiresMountsFor=/etc
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=oneshot
ExecStart=/usr/libexec/trace-enable /etc/trace-events.conf
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target

