[Unit]
Description=BMC Console Setup (Every Boot)
After=bmc-state-change.service
Requires=bmc-state-change.service

[Service]
Type=oneshot
RemainAfterExit=yes

# Commands from console.sh
ExecStart=/bin/systemctl stop obmc-console@ttyVUART0.service
ExecStart=/bin/sh -c '/usr/sbin/obmc-console-server --config /etc/obmc-console.conf ttyLP6 &'
ExecStart=/bin/sleep 1
ExecStart=/usr/bin/gpioset 0 2=0
ExecStart=/bin/sleep 1
ExecStart=/usr/bin/gpioset 0 2=1

[Install]
WantedBy=multi-user.target
