[Unit]
Description=Network IPMI socket
ConditionPathExists=/sys/class/net/bond0

[Socket]
ListenDatagram=623
BindToDevice=bond0

[Install]
WantedBy=
RequiredBy=
