[Unit]
Description=Phosphor Power Supply Monitor
After=xyz.openbmc_project.FruDevice.service

[Service]
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 15
ExecStart=phosphor-psu-monitor

[Install]
WantedBy=multi-user.target

