[Unit]
Description=Start bond0 IPMI units when bond0 is available
After=systemd-networkd-wait-online.service xyz.openbmc_project.Network.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecCondition=/usr/bin/test -e /sys/class/net/bond0
ExecStart=/usr/bin/systemctl start phosphor-ipmi-net@bond0.socket
ExecStart=/usr/bin/systemctl start phosphor-ipmi-net@bond0.service

[Install]
WantedBy=multi-user.target
