[Unit]
Description=Network IPMI daemon
After=phosphor-ipmi-host.service
Requires=sys-subsystem-net-devices-hostusb0.device
After=sys-subsystem-net-devices-hostusb0.device
Requires=xyz.openbmc_project.Network.service
After=xyz.openbmc_project.Network.service
PartOf=phosphor-ipmi-warm-reset.target
ConditionPathExists=/sys/class/net/hostusb0

[Service]
ExecStart=/usr/bin/netipmid -c hostusb0
SyslogIdentifier=netipmid-hostusb0
Restart=always
RuntimeDirectory = ipmi
RuntimeDirectoryPreserve = yes
StateDirectory = ipmi
StartLimitIntervalSec=0

[Install]
DefaultInstance=eth0
WantedBy=
RequiredBy=
