[Unit]
Description=MCTP I3C Daemon Servcie
After=network.target
Before=mctpd.service
Requires=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/mctp-i3c
ExecStart=/usr/bin/mctp-i3c-daemon $MCTP_I3C_DAEMON_EXEC_START
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
