# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "16"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBMASK += "/meta-core/meta-common/recipes-kernel/linux/linux-aspeed_%.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-bsp/u-boot/u-boot-aspeed-sdk_%.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-bsp/u-boot/u-boot-fw-utils-aspeed-sdk_%.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-kernel/linux/linux-aspeed_%.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-network/network/static-mac-addr.bbappend"
BBMASK += "/meta-core/meta-common/recipes-phosphor/console/obmc-console_%.bbappend"
BBMASK += "/meta-core/meta-common/recipes-intel/images/intel-platforms.bb"
BBMASK += "/meta-ami/meta-common/recipes-ami/images/intel-platforms.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-phosphor/libmctp/libmctp_%.bbappend"
BBMASK += "/meta-core/meta-common/recipes-bsp/u-boot/u-boot-aspeed-sdk_%.bbappend"
BBMASK += "/meta-core/meta-common/recipes-bsp/u-boot/u-boot-%.bbappend"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-arm/meta-arm \
  ##OEROOT##/meta-arm/meta-arm-toolchain \
  ##OEROOT##/meta-arm/meta-arm-bsp \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-arm/meta-evb-fvp-base \
  ##OEROOT##/meta-ami \
  ##OEROOT##/meta-core \   
  ##OEROOT##/meta-core/meta-common \   
  ##OEROOT##/meta-security \   
  ##OEROOT##/meta-intel-openbmc \   
  "
