[Unit]
Description=MCTP I2C 8 control daemon
After=mctp-i2c8-demux.service multi-user.target
Requires=mctp-i2c8-demux.service

[Service]
Type=simple
ExecStart=/usr/bin/mctp-ctrl -m 1 -t 1 -f /usr/share/mctp/mctp_cfg_smbus8.json -n 8 -d 1 -v 1
SyslogIdentifier=mctp-i2c8-ctrl

[Install]
WantedBy=multi-user.target
