[Unit]
Description=MCTP I2C 8 demultiplexer daemon
Wants=mctp-i2c8-demux.socket
Conflicts=obmc-power-off@0.target
ConditionPathExists=/sys/bus/i2c/devices/i2c-8
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/mctp-demux-daemon smbus i2c_bus=8 i2c_config_file=/usr/share/mctp/mctp_cfg_smbus8.json
SyslogIdentifier=mctp-i2c8-demux

[Install]
WantedBy=multi-user.target
