[Unit]
Description=MCTP I2C 8 demux Unix domain socket
PartOf=mctp-i2c8-demux.service

[Socket]
ListenSequentialPacket=@mctp-i2c8-mux
Accept=no

[Install]
WantedBy=sockets.target
