[Unit]
Description=MCTP PCIe demultiplexer daemon
Wants=mctp-pcie-demux.socket
BindsTo=bmc-pcie-init.service
After=bmc-pcie-init.service
Upholds=mctp-pcie-ctrl.service


[Service]
Type=notify
Restart=always
RestartSec=5
TimeoutSec=45
Environment=DEMUX_PCIE_BINDING_OPTS=null
EnvironmentFile=/usr/share/mctp/mctp
ExecStartPre=/bin/bash -c 'while [ ! -f "/run/bmc-state/PCIE_INIT_GOOD" ]; do sleep 1; done'
ExecStart=/usr/bin/mctp-demux-daemon $DEMUX_PCIE_BINDING_OPTS
SyslogIdentifier=mctp-pcie-demux
