[Unit]
Description=MCTP PCIe control daemon
Wants=mctp-pcie-demux.service
PartOf=mctp-pcie-demux.service
After=mctp-pcie-demux.service 
Conflicts=nvidia-fpga-notready.target
Upholds=pldmd.service

[Service]
Type=notify
Restart=always
RestartSec=5
StartLimitInterval=0
Environment=MCTP_PCIE_CTRL_OPTS=null
EnvironmentFile=/usr/share/mctp/mctp
ExecStart=/usr/bin/start_mctp.sh 
SyslogIdentifier=mctp-pcie-ctrl

[Install]
WantedBy=multi-user.target
