[Unit]
Description=Sync MAC address with Uboot Settings
After=xyz.openbmc_project.EntityManager.service static-mac-addr.service
Wants=xyz.openbmc_project.EntityManager.service static-mac-addr.service

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/bin/uboot-mac-addr.sh
ExecStartPre=/bin/sleep 15

[Install]
WantedBy=network.target
