[Unit]
Description= Nss_pam_radius service

[Service]
ExecStart=/usr/bin/nss_pam_radius
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
