[Unit]
Description=Removing the dropcaches periodically.
 
[Service]
ExecStart=/usr/bin/clear-cache.sh
StandardOutput=journal
StandardError=journal+console
Restart=always
RestartSec=120min

[Install]
WantedBy=multi-user.target
