[Unit]
Description=clear wdt when BMC is ready
After=multi-user.target

[Service]
RemainAfterExit=true
Type=oneshot
ExecStart=/usr/bin/env bmc-alternateboot-check.sh

[Install]
WantedBy=multi-user.target

