[Unit]
Description=Health Monitor Memory Critical Recovery Service

[Service]
ExecStart=/usr/bin/memorycritical.sh 
Type=oneshot
StartLimitIntervalSec=0
StartLimitBurst=0

[Install]
WantedBy=memorycritical.target