[Unit]
Description=Health Monitor Memory Warning Recovery Service

[Service]
ExecStart=/usr/bin/memorywarning.sh 
Type=oneshot
StartLimitIntervalSec=0
StartLimitBurst=0

[Install]
WantedBy=memorywarning.target