[Unit]
Description=Overlay sync to NV storage

[Service]
# Run a job to periodically sync the overlay to NV storage
ExecStart=/bin/sh -c '[ ! -f /sys/class/spi_master/spi0/device/current_boot ] || [ "$(cat /sys/class/spi_master/spi0/device/current_boot)" != "1" ] && exec /usr/bin/nv-syncd || exit 0'
# Due to sync delay stopping this service will take more than default 10 seconds
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
