[Unit]
Description=Phosphor Watchdog for %i
After=network.target

[Service]
ExecStart=/usr/bin/phosphor-watchdog --continue \
    --service=xyz.openbmc_project.Watchdog.%i \
    --path=/xyz/openbmc_project/watchdog/%i \
    --action_target=xyz.openbmc_project.State.Watchdog.Action.HardReset=xyz.openbmc_project.State.Host.Transition.ForceWarmReboot \
    --action_target=xyz.openbmc_project.State.Watchdog.Action.PowerOff=xyz.openbmc_project.State.Chassis.Transition.Off \
    --action_target=xyz.openbmc_project.State.Watchdog.Action.PowerCycle=xyz.openbmc_project.State.Chassis.Transition.PowerCycle

BusName=xyz.openbmc_project.Watchdog.%i
Type=dbus

[Install]
WantedBy=basic.target
