# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "16"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-arm/meta-arm \
  ##OEROOT##/meta-arm/meta-arm-toolchain \
  ##OEROOT##/meta-ami \
  ##OEROOT##/meta-core \
  ##OEROOT##/meta-core/meta-common \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-nxp \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-nxp/meta-common/meta-imx-bsp \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-nxp/meta-imx93 \
  "