[Unit]
Description=Setting hostname with mac addr
After=systemd-hostnamed.service xyz.openbmc_project.Network.service
Wants=xyz.openbmc_project.Network.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/hostname-setting

[Install]
WantedBy=network.target

