CONFIGS_PCI=y
CONFIGS_PCI_DEBUG=y 
CONFIGS_PCI_DOMAINS=y 
CONFIGS_PCI_DOMAINS_GENERIC=y 
CONFIGS_PCI_MSI=y
CONFIGS_PCI_QUIRKS=y 
CONFIGS_PCI_QUIRKS=y
CONFIGS_PCI_SYSCALL=y
CONFIGS_PCIE_ECRC=y
CONFIGS_PCIE_PME=y 
CONFIGS_PCIEAER=y 
CONFIGS_PCIEAER_INJECT=y 
CONFIGS_PCIEPORTBUS=y 
CONFIGS_PWM_ASPEED_AST2600=y 
CONFIGS_PWM_SYSFS=y
CONFIGS_SENSORS_PWM_FAN=y 
CONFIGS_SPI_ASPEED_SMC=y 
CONFIGS_ASPEED_UDMA=y 
CONFIGS_REGULATOR=y
CONFIGS_REGULATOR_FIXED_VOLTAGE=y
CONFIG_USB_CONFIGFS_EEM=y
CONFIG_USB_CONFIGFS_F_LB_SS=y
CONFIG_USB_CONFIGFS_OBEX=y
CONFIG_USB_F_EEM=y
CONFIG_USB_F_FS=y 
CONFIG_USB_F_OBEX=y
CONFIG_USB_F_SS_LB=y
CONFIG_USB_U_SERIAL=y
CONFIG_HOTPLUG_PCI=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_EXT3_FS=y
CONFIG_EXT3_FS_POSIX_ACL=y
CONFIG_EXT3_FS_SECURITY=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y





