# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "16"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBMASK += "/openbmc-meta-intel/meta-common/recipes-intel/images/intel-platforms.bb"
BBMASK += "/meta-ami/meta-common/recipes-ami/images/intel-platforms.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-network/network/static-mac-addr.bbappend"
BBMASK += "meta-ami/meta-common/recipes-bsp/u-boot/u-boot-aspeed-sdk_%.bbappend"
BBMASK += "meta-ami/meta-common/recipes-kernel/linux/linux-aspeed_%.bbappend"
BBMASK += "openbmc-meta-intel/meta-common/recipes-kernel/"
BBMASK += "openbmc-meta-intel/meta-common/recipes-bsp/"
BBMASK += "/openbmc-meta-intel/meta-common/recipes-core/os-release/os-release.bbappend"

#Due to build error in 2700 Ignoring meta-ami openssl
BBMASK += "meta-ami/meta-common/recipes-connectivity/openssl/openssl_%.bbappend"

#Ignore ast2700 openssl
#BBMASK += "meta-ami/meta-evb/meta-evb-aspeed/meta-evb-ast2700/recipes-connectivity/openssl/"
BBMASK += "openbmc-meta-intel/meta-common/recipes-connectivity/openssl/openssl_%.bbappend"



BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-perl \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-arm/meta-arm \
  ##OEROOT##/meta-arm/meta-arm-toolchain \
  ##OEROOT##/meta-security \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-aspeed/meta-evb-ast2700/ \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-aspeed/meta-evb-ast2700/meta-ast2700 \
  ##OEROOT##/meta-ami \
  ##OEROOT##/openbmc-meta-intel \
  ##OEROOT##/meta-intel-openbmc \
  ##OEROOT##/openbmc-meta-intel/meta-common \
  "
