# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "16"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBMASK += "/meta-core/meta-common/recipes-intel/images/intel-platforms.bb"
BBMASK += "/meta-ami/meta-common/recipes-ami/images/intel-platforms.bbappend"
BBMASK += "/meta-ami/meta-common/recipes-network/network/static-mac-addr.bbappend"
BBMASK += "meta-ami/meta-common/recipes-bsp/u-boot/u-boot-aspeed-sdk_%.bbappend"
BBMASK += "meta-ami/meta-common/recipes-kernel/linux/linux-aspeed_%.bbappend"
BBMASK += "meta-core/meta-common/recipes-kernel/"
BBMASK += "meta-core/meta-common/recipes-bsp/"
BBMASK += "/meta-ami/meta-intel/recipes-intel/emmc-enable/emmc-enable.bbappend"

# Ignoring ACD
BBMASK += "/meta-core/meta-restricted/recipes-intel/acd"

#Ignore ast2700 openssl
#BBMASK += "meta-ami/meta-evb/meta-evb-aspeed/meta-evb-ast2700/recipes-connectivity/openssl/"
BBMASK += "meta-core/meta-common/recipes-connectivity/openssl/openssl_%.bbappend"

#Ignoring the SDKv9.08-migrated QEMU, as the Poky version has not been upgraded to match
BBMASK += "meta-ami/meta-evb/meta-evb-aspeed/meta-evb-ast2700/recipes-devtools/qemu"

#To avoid build error, added to BBMASK
BBMASK += "meta-ami/meta-evb/meta-evb-aspeed/meta-evb-ast2700/recipes-connectivity/freeipmi/freeipmi_1.6.11.bb"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-perl \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-arm/meta-arm \
  ##OEROOT##/meta-arm/meta-arm-toolchain \
  ##OEROOT##/meta-security \
  ##OEROOT##/meta-zephyr/meta-zephyr-core \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-aspeed/meta-evb-ast2700/ \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-aspeed/meta-evb-ast2700/meta-ast2700 \
  ##OEROOT##/meta-ami \
  ##OEROOT##/meta-core \
  ##OEROOT##/meta-intel-openbmc \
  ##OEROOT##/meta-core/meta-common \
  "
