[Unit]
Description=MCTP PCIe demux Unix domain socket
PartOf=mctp-pcie-demux.service

[Socket]
ListenSequentialPacket=@mctp-pcie-mux
Accept=no

[Install]
WantedBy=sockets.target
