[Unit]
Description=MCTP I2C 8 demultiplexer daemon
Wants=mctp-i2c8-demux.socket
ConditionPathExists=/sys/bus/i2c/devices/i2c-8

[Service]
Type=simple
ExecStart=/usr/bin/mctp-demux-daemon smbus i2c_bus=8 i2c_config_file=/usr/share/mctp/mctp_cfg_smbus8.json
SyslogIdentifier=mctp-i2c8-demux


