[Unit]
Description=MCTP Kernel control daemon
After=multi-user.target
Requires=multi-user.target

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/usr/share/mctp/mctp
ExecStart=/usr/bin/mctp-ctrl -m 1 -t 0 -f /usr/share/mctp/mctp_cfg_kernel.cfg -d 1
SyslogIdentifier=mctp-kernel-ctrl

[Install]
WantedBy=multi-user.target
