[Unit]
Description=MCTP PCIe control daemon
Wants=mctp-pcie-demux.service
PartOf=mctp-pcie-demux.service
After=mctp-pcie-demux.service 
ConditionPathExists=/dev/aspeed-mctp0

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=0
Environment=MCTP_PCIE_CTRL_EXEC_START=null
EnvironmentFile=/usr/share/mctp/mctp
ExecStart=/usr/bin/mctp-ctrl $MCTP_PCIE_CTRL_EXEC_START
SyslogIdentifier=mctp-pcie-ctrl

[Install]
WantedBy=multi-user.target
