/dts-v1/;
/plugin/;

/* PCA9543 I2C mux on i2c4 (addr 0x73) with two TMP75 sensors behind it.
 * Base &i2c4 already provides #address-cells/#size-cells.
 */
&i2c4 {
	pca9543: i2c-switch@73 {
		compatible = "nxp,pca9543";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x73>;
		i2c-mux-idle-disconnect;

		i2c4_0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		i2c4_1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			tmp75@4e {
				compatible = "ti,tmp75";
				reg = <0x4e>;
			};

			tmp75@4f {
				compatible = "ti,tmp75";
				reg = <0x4f>;
			};
		};
	};
};
