# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "16"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBMASK += "meta-ami/meta-common/recipes-ami/images/intel-platforms.bbappend"
BBMASK += "meta-ami/meta-common/recipes-network/network/static-mac-addr.bbappend"
BBMASK += "meta-ami/meta-common/recipes-bsp/u-boot/u-boot-aspeed-sdk_%.bbappend"
BBMASK += "meta-ami/meta-common/recipes-kernel/linux/linux-aspeed_%.bbappend"

BBMASK += "meta-common/meta-common/recipes-core/os-release/os-release.bbappend"
BBMASK += "meta-common/meta-common/recipes-security/sssd/sssd_%.bbappend"
BBMASK += "meta-common/meta-common/recipes-kernel/"
BBMASK += "meta-common/meta-common/recipes-bsp/"
BBMASK += "meta-common/meta-common/recipes-intel/images/intel-platforms.bb"

BBMASK += "meta-common/meta-common/recipes-intel/packagegroups"
BBMASK += "meta-common/meta-common/recipes-phosphor/"
BBMASK += "meta-ami/meta-common/recipes-ami/mctp-wrapper/mctp-wrapper.bbappend"
BBMASK += "meta-ami/meta-common/recipes-phosphor/"
BBMASK += "meta-ami/meta-common/recipes-network/network/phosphor-network_%.bbappend"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-arm/meta-arm \
  ##OEROOT##/meta-arm/meta-arm-toolchain \
  ##OEROOT##/meta-nuvoton \
  ##OEROOT##/meta-evb \
  ##OEROOT##/meta-evb/meta-evb-nuvoton \
  ##OEROOT##/meta-evb/meta-evb-nuvoton/meta-evb-npcm845 \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-nuvoton/meta-evb-npcm845 \
  ##OEROOT##/meta-ami/meta-evb/meta-evb-nuvoton/ \
  ##OEROOT##/meta-ami/ \
  ##OEROOT##/meta-common \
  ##OEROOT##/meta-common/meta-common \
  ##OEROOT##/meta-intel-openbmc \  
"
